@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.highlight-title {
    position: relative;
    display: inline-block; 
    white-space: pre-wrap;
  }
  
  .highlight-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.6em; 
    background-color: #506DAD;
    position: absolute;
    opacity: 50%;
    bottom: 0;
    left: 0;
    z-index: -1;

  }

  .shadow-right {
    box-shadow: 5px 5px 0 0 #506DAD; 
  }

  html {
    scroll-behavior: smooth;
  }

  .blue-rounded-tl::before {
    content: '';
    position: absolute;
    top: -300px;
    left: -100px;
    width: 600px;
    height: 500px;
    background-color: #08152F; /* Asegúrate de que este color es el correcto */
    z-index: -1;
  }
  
  .laputaquetepario {
    border-top-left-radius: 500px 100px;
   background-color: white;
   color: #08152F;
    /* background-color: #ff0000; Este es el fondo del div */
  }
  

  .button_slide {
  
    box-shadow: inset 0 0 0 0 #506DAD;
    -webkit-transition: ease-out 0.6s;
    -moz-transition: ease-out 0.6s;
    transition: ease-out 0.6s;
  }
  
  
  .slide_right:hover {
    color: white;
    box-shadow: inset 400px 0 0 0 #08152F;
  }

  @media (max-width: 980px) {
    .blue-rounded-tl::before {
      width: screen;  /* Full viewport width */
      height: screen; /* Full viewport height */
    }

  }