@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.highlight-title {
    position: relative;
    display: inline-block; 
    white-space: pre-wrap;
  }
  
  .highlight-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 0.6em; 
    background-color: #506DAD;
    position: absolute;
    opacity: 50%;
    bottom: 0;
    left: 0;
    z-index: -1;

  }

  .shadow-right {
    box-shadow: 5px 5px 0 0 #506DAD; 
  }


  .blue-rounded-tl::before {
    content: '';
    position: absolute;
    top: -100px; 
    left: -100px; 
    width: 600px;
    height: 600px; 
    background-color: #08152F;
    z-index: -1;
  }
  
  
  .laputaquetepario {
    
    border-top-left-radius: 500px 100px; 
  }

  @media (max-width: 980px) {
    .blue-rounded-tl::before {
      width: screen;  /* Full viewport width */
      height: screen; /* Full viewport height */
    }
  }